<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%> วิทยาการคอมพิวเตอร์&nbsp;|&nbsp;มก.
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="https://cs.sci.ku.ac.th/wp-content/uploads/2018/06/cropped-logoKUcrop-270x270.png">