<header class="main-header">
    <a class="text-logo" href="/">วิทยาการคอมพิวเตอร์&nbsp;|&nbsp;มก.</a>
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <% if (!loggedIn) { %>
                <li class="main-header_item"><a href="/">หน้าแรก</a></li>
                <li class="main-header_item"><a href="/staff">บุคลากร</a></li>
                <li class="main-header_item"><a href="/courses">รายวิชา</a></li>
                <li class="main-header_item"><a href="/admin" target="_self">เข้าสู่ระบบ</a></li>
                <% } %>
                    <% if (loggedIn) { %>
                        <li class="main-header_item"><a href="/">หน้าแรก</a></li>
                        <li class="main-header_item"><a href="/staff">บุคลากร</a></li>
                        <li class="main-header_item"><a href="/courses">รายวิชา</a></li>
                        <li class="main-header_item"><a href="/admin/add-staff">เพิ่มบุคลากร</a></li>
                        <li class="main-header_item"><a href="/admin/logout">ออกจากระบบ</a></li>
                        <% } %>

        </ul>
    </nav>