<header class="main-header">
    <a class="text-logo" href="/">วิทยาการคอมพิวเตอร์&nbsp;|&nbsp;มก.</a>
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a href="/">หน้าแรก</a></li>
            <li class="main-header_item"><a href="#">บุคลากร</a></li>
            <li class="main-header_item"><a href="/courses">รายวิชา</a></li>
            <li class="main-header_item"><a href="#">เข้าสู่ระบบ</a></li>
        </ul>
    </nav>