<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418331 ระบบปฏิบัติการ(Operating Systems)

            </h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 4(4-0-8)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418233

                </a>
                <p class="container__text"> พัฒนาการของสถาปัตยกรรมคอมพิวเตอร์และระบบปฏิบัติการ โครงสร้างระบบปฏิบัติการ
                    กระบวนการและสายโยงใย การจัดกำหนดการ การติดตาย ลำดับขั้นของหน่วยความจำ การจัดการหน่วยความจำ
                    หน่วยความจำเสมือน การจัดการระบบแฟ้ม การจัดการระบบรับเข้า/ส่งออก ความมั่นคง การป้องกัน
                    ระบบปฏิบัติการแบบกระจาย<br>

                    <br>Development of computer architecture and operating systems. Operating system structure.
                    Processes
                    and threads. Scheduling. Deadlocks. Memory hierarchy. Memory management. Virtual memory. File system
                    management. Input/output system management. Security. Protection. Distributed operating systems.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>