<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 01418113 เทคโนโลยีคอมพิวเตอร์และสารสนเทศ - วิทยาการคอมพิวเตอร์&nbsp;|&nbsp;มก.</title>
</head>

<body>
    <h3>เทคโนโลยีสารสนเทศเพื่อผู้ประกอบการ(Information Technology for Entrepreneurs)</h3>
</body>

</html>