<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418231 โครงสร้างข้อมูล

                (Data Structures)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 3(3-0-6)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418113</a>
                <p class="container__text">
                    โครงสร้างข้อมูล ขั้นตอนวิธีสำหรับใช้งานรายการ กองซ้อน แถวคอย ต้นไม้และกราฟ
                    โครงสร้างแฟ้มและการประมวลผลแฟ้ม<br>

                    <br>Data structures. Algorithms for implementation of lists, stacks, queues, trees and graphs. File
                    structures and file processing.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>