<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418333 ทฤษฎีออโตมาตา

                (Automata Theory)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 2(2-0-4)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418132</a>
                <p class="container__text">
                    แนวคิดเรื่องภาวะจำกัด เครื่องรับรู้ข้อความปรกติ สมบัติปิด เครื่องจักรชนิดลำดับ และเครื่องสื่อนำ
                    ภาวะจำกัด การหาภาวะต่ำสุด ไวยากรณ์ของภาษารูปนัย เครื่องจักรทัวริง<br>

                    <br>Finite state concept. Acceptors. Regular expressions. Closure properties. Sequential machine and
                    finite state transducers.State minimization. Formal language grammars.Turing machines.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>