<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418233 ภาษาแอสเซมบลีและสถาปัตยกรรมคอมพิวเตอร์ (Assembly Language and Computer
                Architecture)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 4(4-0-8)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418113 และ 01418131 หรือ 01418113 และ 01420245</a>
                <p class="container__text"> แนวคิดพื้นฐานของขั้นตอนวิธี การวิเคราะห์ขั้นตอนวิธีในเชิงคณิตศาสตร์
                    การวิเคราะห์ขั้นตอนวิธีการเรียงลำดับและการค้นหา เทคนิคเชิงขั้นตอนวิธี วิธีการออกแบบขั้นตอนวิธี<br>

                    <br>Basic concepts of algorithms. Mathematical analysis of algorithms. Analysis of sorting and
                    searching
                    algorithms. Algorithmic techniques. Algorithm design methods.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>