<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418114 วิทยาการคอมพิวเตอร์เบื้องต้น
                (Introduction to Computer Science)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 2(2-0-4)</h3>
                <a class="comtainer_a"></a>
                <p class="container__text"> พัฒนาการของคอมพิวเตอร์ การแทนข้อมูลในคอมพิวเตอร์
                    ระบบจำนวน
                    องค์ประกอบของฮาร์ดแวร์คอมพิวเตอร์ ตัววัดสมรรถนะของคอมพิวเตอร์ ซอฟต์แวร์ระบบ
                    ตัวแปลภาษาและภาษาการโปรแกรม
                    ความซับซ้อนในระบบคอมพิวเตอร์การจัดองค์การของระบบคอมพิวเตอร์สถาปัตยกรรมไคลเอนต์-เซิร์ฟเวอร์เครือข่ายคอมพิวเตอร์
                    ความมั่นคงของสารสนเทศ การประยุกต์ระบบคอมพิวเตอร์ในปัจจุบัน จริยธรรมทางคอมพิวเตอร์<br>

                    <br>Development of computers. Data representation in computers. Number systems.
                    Computer hardware components. Computer performance metrics. System software.
                    Compilers and programming languages. Complexity in computer systems. Computer system organization.
                    Clientserver architecture. Computer networks. Information security. Current applications of computer
                    systems. Computer ethics.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>