<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418334 เทคนิคตัวแปลโปรแกรม (Compiler Techniques)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 2(2-0-4)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418333 หรือพร้อมกัน</a>
                <p class="container__text"> ความมั่นคงดิจิทัลเบื้องต้น การตรวจสอบ ภาวะรับผิดชอบและนโยบายความมั่นคง
                    วิทยาการเข้ารหัสลับ ความมั่นคงในการดำเนินการ ความมั่นคงทางกายภาพ เครือข่ายและระบบปฏิบัติการ
                    ความมั่นคงในงานประยุกต์ต่างๆ: การโปรแกรมแบบมั่นคง ความมั่นคงของเว็บและอินเตอร์เน็ตของสรรพสิ่ง<br>

                    <br>Introduction to digital security. Auditing. Accountability and security policy. Cryptography.
                    Operation security. Physical, network and operating system security. Security in various
                    applications: secure coding, web and Internet of Things security.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>