<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418221 ระบบฐานข้อมูลเบื้องต้น

                (Fundamentals of Database Systems)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 3(3-0-6)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418113</a>
                <p class="container__text">
                    แนวคิดเกี่ยวกับฐานข้อมูลเบื้องต้น เป้าหมายของระบบจัดการฐานข้อมูล ความไม่พึ่งพิงของข้อมูล
                    บูรณภาพและความเชื่อถือได้การจัดองค์การเชิงตรรกะและเชิงกายภาพ เค้าร่างและเค้าร่างย่อย ตัวแบบข้อมูล
                    ตัวแบบเชิงสัมพันธ์ บรรทัดฐานข้อมูล ภาษานิยามข้อมูล พจนานุกรมข้อมูล<br>

                    <br>Introduction to database concepts. Goals of database management system. Data independence.
                    Integrity
                    and reliability. Logical and physical organizations. Schema and subschema. Data models. Relational
                    models. Data normalization. Data description languages. Data dictionary.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>