<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418341 ทรัพย์สินทางปัญญาและจรรยาบรรณวิชาชีพ

                (Intellectual Properties and Professional Ethics)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 3(3-0-6)</h3>
                <a class="container_a"></a>
                <p class="container__text">
                    ประเภทของทรัพย์สินทางปัญญา การได้มาซึ่งลิขสิทธิ์
                    สิทธิแต่เพียงผู้เดียวของเจ้าของลิขสิทธิ์การละเมิดลิขสิทธิ์ การใช้โดยธรรม
                    ใบอนุญาตของซอฟต์แวร์เสรีใบอนุญาตของซอฟต์แวร์เปิดเผยรหัส ใบอนุญาตให้ใช้โปรแกรมคอมพิวเตอร์
                    ครีเอทีฟคอมมอนส์สิทธิบัตร เครื่องหมายการค้าและเครื่องหมายการบริการ นโยบายส่วนบุคคล
                    อาชญากรรมคอมพิวเตอร์กรณีศึกษา<br>

                    <br>Categories of intellectual property. Acquisition of copyright. Exclusive rights of copyright
                    holder.
                    Copyright infringement. Fair use. Free software license. Open source software license. Shrink wrap
                    license. Creative Commons. Patent. Trade mark and service mark. Privacy policy. Computer crime. Case
                    studies.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>