<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418113 การโปรแกรมคอมพิวเตอร์
                (Computer Programming)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 3(2-2-5)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418112</a>
                <p class="container__text">
                    การโปรแกรมภาษาระดับสูง ชนิด ตัวแปร ข้อความสั่งรับเข้า/ส่งออก ข้อความสั่งเงื่อนไข
                    ข้อความสั่งวนซ้ำ
                    ฟังก์ชัน การกำหนดสาระสำคัญเชิงกระบวนงาน การปรากฏซ้ำ การนำเข้าและส่งออกแฟ้ม
                    โครงสร้างข้อมูลพื้นฐาน
                    การกำหนดสาระสำคัญของข้อมูล การนิยามวัตถุและคลาส ลักษณะประจำและพฤติกรรมของวัตถุการแก้จุดบกพร่อง
                    และการทดสอบโปรแกรม แนวทางการโปรแกรมที่ดี<br>

                    <br>High-level language programming. Types. Variables. Input/output statements. Conditional
                    statements.
                    Repetition statements. Functions. Procedural abstractions. Recursion. File input and output.
                    Basic
                    data structures. Data abstractions. Objects and class definitions. Object attributes and
                    behaviors.
                    Program debugging and testing. Good programming practice.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>