<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/cs.css">
    <link rel="stylesheet" href="/css/cs.css">
    </head>

    <body>
        <%- include('../includes/navigationbar.ejs') %>
            </header>
            <h1 class="header__h1">01418351 หลักการการสื่อสารคอมพิวเตอร์และการประมวลผลบนคลาวด์

                (Computer Communications and Cloud Computing Principles)</h1>
            <div class="container">

                <h3 class="container__H">หน่วยกิต (บรรยาย-ปฎิบัติการ): 3(3-0-6)</h3>
                <a class="container_a">วิชาที่ต้องเรียนมาก่อน: 01418331</a>
                <p class="container__text">
                    แนวคิดของเครือข่ายการสื่อสารแบบมีสาย ไร้สาย และเซลลูลาร์องค์ประกอบของการสื่อสาร
                    คอมพิวเตอร์และเครือข่าย ชนิดของเครือข่ายคอมพิวเตอร์ มาตรฐานและระดับชั้นโพรโทคอล
                    โพรโทคอลชั้นโปรแกรมประยุกต์ สถาปัตยกรรมและการโปรแกรมโปรแกรมประยุกต์บนเครือข่าย
                    โพรโทคอลชั้นทรานสปอร์ต เครือข่ายแบบกำหนดโดยซอฟต์แวร์ การประมวลผลบนคลาวด์องค์ประกอบและบริการ<br>

                    <br>Communication concepts: wired. Wireless and cellular networks. Components of computer
                    communications and networks.Type of computer networks. Protocol standards and layers. Application
                    layer protocols. Network application architectures and programming. Transport-layer protocols.
                    Software defined networks. Cloud computing. Components and services.
                </p>
            </div>
            <%- include('../includes/footer.ejs') -%>
    </body>

    </html>