<%- include('../includes/head.ejs') -%>
        <link rel="stylesheet" href="/css/home.css">
        </head>

        <body>
                <%- include('../includes/navigationbar.ejs') -%>
                        </header>
                        <div class="container">

                                <h1>รายละเอียดหลักสูตรวิทยาศาสตรบัณฑิต ปรับปรุง พ.ศ. 2565</h1>

                        </div>
                        <p class=" firstpage"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ชื่อสถาบันอุดมศึกษา :</span>
                                <span style="color:rgb(0, 149, 255);font-weight:bold;">มหาวิทยาลัยเกษตรศาสตร์</span>
                        </p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">วิทยาเขต/คณะ/ภาควิชา :</span>
                                <span style="color:rgb(0, 149, 255);font-weight:bold;">วิทยาเขตกำแพงเสน
                                        คถะศิลปศาสตร์และวิทยาศาสตร์
                                        ภาควิชาวิทยาการคอมพิวเตอร์</span>
                        </p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">รหัสและชื่่อหลักสูตร :</span></p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">รหัสหลักสูตร :25300021100231</span>
                        </p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ภาษาไทย <span
                                                style="color:rgb(0, 149, 255);font-weight:bold;">หลักสูตรวิทยาศาสตร์บัณฑิต
                                                สาขาวิชาวิทยาการคอมพิวเตอร์</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ภาษาอังกฤษ <span
                                                style="color:rgb(0, 149, 255);font-weight:bold;">Bachelor of Science
                                                Program in
                                                Computer Science</span></p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">ชื่อปริญญาและสาขาวิชา :<span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ชื่อเต็ม</span> : <span
                                        style="color:rgb(0, 149, 255);font-weight:bold;">วิทยาศาสตรบัณฑิต
                                        (วิทยาการคอมพิวเตอร์)</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ชื่อย่อ : <span
                                                style="color:rgb(0, 149, 255);font-weight:bold;"> วท.บ.
                                                (วิทยาการคอมพิวเตอร์)</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ชื่อเต็ม :</span> <span
                                        style="color:rgb(0, 149, 255);font-weight:bold;"> Bachelor of Science (Computer
                                        Science)</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">ชื่อย่อ :</span> <span
                                        style="color:rgb(0, 149, 255);font-weight:bold;"> B.S. (Computer Science)</span>
                        </p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">จำนวนหน่วยกิตที่เรียนตลอดหลักสูตร :
                                </span>
                                <span style="color:rgb(0, 149, 255);font-weight:bold;"> ไม่น้อยกว่า
                                        124 หน่วยกิต</span>
                        </p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">รูปแบบของหลักสูตร :</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">1.
                                        รูปแบบและประเภทของหลักสูตร</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(0, 149, 255);font-weight:bold;">– หลักสูตรระดับปริญญาตรี 4
                                        ปี(ทางวิชาการ)</span>
                        </p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(0, 149, 255);font-weight:bold;">–
                                        ตามมาตรฐานคุณวุฒิระดับปริญญาตรีสาขาคอมพิวเตอร์พ.ศ.
                                        2552</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">2. ภาษาที่ใช้</span> <span
                                        style="color:rgb(0, 149, 255);font-weight:bold;">ภาษาไทยและภาษาอังกฤษ</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">3. การรับเข้าศึกษา</span>
                                <span style="color:rgb(0, 149, 255);font-weight:bold;"> B.S. (Computer Science)</span>
                        </p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">4. ความร่วมมือกับสถาบันอื่น
                                        </sapn><span style="color:rgb(0, 149, 255);font-weight:bold;">
                                                เป็นหลักสูตรเฉพาะของสถาบัน</span></p>
                        <p class="description-1" style="margin-left: 35rem;"><span
                                        style="color:rgb(215, 61, 153);font-weight:bold;">5.
                                        การให้ปริญญาแก่ผู้สำเร็จการศึกษา</span> <span
                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                        ให้ปริญญาเพียงสาขาวิชาเดียว</span></p>
                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">สภานภาพของหลักสูตร :</span< /p>
                                        <p class="description-1" style="margin-left: 35rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">•
                                                        หลักสูตรปรับปรุง กำหนดเปิดสอน ภาคเรียนที่
                                                        1
                                                        ปีการศึกษา 2565</span>
                                        </p>
                                        <p class="description-1" style="margin-left: 35rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">•
                                                        ปรับปรุงจากหลักสูตร ชื่อ
                                                        หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์</span>
                                        </p>
                                        <p class="description-1" style="margin-left: 35rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">•
                                                        เริ่มใช้มาตั้งแต่ปีการศึกษา 2528</span>
                                        </p>
                                        <p class="description-1" style="margin-left: 35rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                                        • ปรับปรุงครั้งสุดท้าย เมื่อปีการศึกษา 2560</span>
                                        </p>
                                        <p class="description-1" style="color:rgb(215, 61, 153);font-weight:bold;">
                                                การเผยแพร่หลักสูตร :
                                                <span style="color:rgb(0, 149, 255);font-weight:bold;"> ปี พ.ศ.
                                                        2567</span>
                                        </p>
                                        <p><span style="color:rgb(215, 61, 153);font-weight:bold;">อาชีพที่สามารถประกอบได้หลังสำเร็จการศึกษา
                                                        :</span></p>
                                        <p class="description-1" style="margin-left: 33rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                                        1. นักวิเคราะห์/ออกแบบ/พัฒนา/ควบคุมคุณภาพ
                                                        การพัฒนาซอฟต์แวร์<br>/ปัญญาประดิษฐ์/ความมั่นคงปลอดภัยระบบดิจิทัล</span>
                                        <p class="description-1" style="margin-left: 33rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                                        2. นักวิเคราะห์/ออกแบบ/ดูแล/จัดการ ข้อมูล วิทยาการข้อมูล
                                                        และฐานข้อมูล</span>
                                        <p class="description-1" style="margin-left: 33rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                                        3. นักวิเคราะห์/ออกแบบ/ประยุกต์ เทคโนโลยีดิจิทัล
                                                        <br>(เทคโนโลยีสารสนเทศ สื่อผสม
                                                        โครงสร้างพื้นฐาน
                                                        และเครือข่ายคอมพิวเตอร์)</span>
                                        <p class="description-1" style="margin-left: 33rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                                        4. ผู้จัดการโครงการเทคโนโลยีดิจิทัล</span>
                                        <p class="description-1" style="margin-left: 33rem;"><span
                                                        style="color:rgb(0, 149, 255);font-weight:bold;">
                                                        5. ผู้ประกอบการสตาร์ทอัพ</span>




        </body>
        <%- include('../includes/footer.ejs')%>

                </html>