@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maitree', serif;
}
body {
  background-color: #f9f8f8;
}
li,
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.course-id {
  font-weight: 500;
  color: #1ca9ea;
  text-decoration: underline;
}
.course-id:hover {
  color: #2ec8f9;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  color: #000000;
  background-color: white;
}
.text-logo {
  font-size: 27px;
}
.main-header_item-list {
  list-style-type: none;
}

.main-header_item-list li {
  display: inline-block;
  padding: 0px 20px;
}
.main-header_item-list li a {
  transition: all 0.3s ease 0s;
}
.main-header_item-list li a:hover {
  color: #33b9f8;
}
.fs-2_text-center_m-0 {
  font-size: 40px;
  margin-top: 70px;
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: whitesmoke;
  background-color: #0671b7;
  margin-top: 15px;
}
